
<div>
  <label for="categoria">Filtrar por categoría:</label>
  <select id="categoria" [(ngModel)]="categoriaSeleccionada">
    <option value="">Todas</option>
    <option value="Naturaleza">Naturaleza</option>
    <option value="Gastronomia">Gastronomia</option>
    <option value="Tecnología">Tecnología</option>
  </select>
</div>


<div *ngIf="imagenesFiltradas().length > 0; else noImagenes" class="galeria-grid">
  <div *ngFor="let imagen of imagenesFiltradas()" class="imagen-item">
    <img [src]="imagen.url" alt="{{ imagen.titulo }}" (click)="seleccionarImagenHandler(imagen)">
    <h3>{{ imagen.titulo }}</h3>
    <p>{{ imagen.descripcion }}</p>
    <button (click)="toggleFavorito(imagen)">
      {{ esFavorito(imagen) ? 'Eliminar de Favoritos' : 'Marcar como Favorito' }}
    </button>
  </div>
</div>


<ng-template #noImagenes>
  <p>No hay imágenes disponibles en esta categoría.</p>
</ng-template>
